body {
    font-family: "Lobster", cursive;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(18,205,20,1) 100%);
    text-align: center;
    background-repeat: no-repeat;
  }
  .profile {
    width: 120px;
    border-radius: 50%;
    bottom: 15px;
    margin-top: 50px;
  }
  .link {
    float: left;
    color: rgb(39, 147, 155);
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: Verdana;
    font-size: 15px;
}

.menu {
    list-style: none;
    position: fixed;
    right: 30px;
    cursor: pointer;
    z-index: 10;
    background-color:rgb(65, 63, 63);
    top: 1px;
}
.link:hover {
  background-color:rgb(218, 54, 32);
}

#second{
background-color: rgb(229, 240, 78);
height: 350px;
float: bottom;
margin-top: 190px;
}

p{
font-size: 18px;
}

html{
  scroll-behavior: smooth;
}
#favplayer{
  background-color: rgb(229, 240, 78);

  }

  #wiki{
    
    font-size: 25px;
  }


  #facts{
    background-color: rgb(229, 240, 78);
  
    }

    #one{
      margin-top: 50px;
    }

    #inspiration{
      background-color: rgb(229, 240, 78);
    }

    #imginspire{
      width: 30%;
    border-style: solid;
      border-color: rgb(6, 62, 85);
      transition: transform .2s;
    }

    #imginspire:hover{
      transform: scale(0.9);
    }